:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #EAECEA;
    width: 150px;
    /* HSC: Check if height should be set in safari code */
}

button {
    width: 130px;
    padding: 4px 6px;
    margin: 4px 10px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #E0E1E2;
    color: #000;
}

button:hover {
    background-color: #9FA1A1;
    color: #FFFFFF;
}

#status {
    width: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

hr {
    border: 0.1px solid #808080;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #353736;
    }
    button {
        background-color: #48494A;
        color: #eee;
    }
    button:hover {
        background-color: #EBEDEC;
        color: #111;
    }
    #status {
        color: #eee;
    }
}

